openapi: 3.0.3
info:
  title: AnswerLayer Public API
  description: |
    ## Conversational Analytics Platform
    
    AnswerLayer enables organizations to build conversational interfaces for their users'data analytics needs. 
    This API allows you to programmatically manage clients, users, and facilitate natural language querying of 
    users' data within your product.
    
    ### Architecture
    
    The API follows a hierarchical structure:
    
    ```
    Your Organization
    ├── Clients (Your Customers)
    │   ├── Users (End Users)
    │   ├── Questions & Conversations
    │   └── Charts & Visualizations
    ├── Database Connections (Data Sources)
    └── API Keys & Authentication
    ```
    
    ### Authentication
    
    All API requests require authentication using API keys. Include your API key in the `Authorization` header:
    
    ```
    Authorization: Bearer YOUR_API_KEY
    ```
  
    ### Error Handling
    
    The API uses standard HTTP status codes and returns JSON error responses:
    
    ```json
    {
      "error": {
        "code": "VALIDATION_ERROR",
        "message": "Invalid application_id provided",
        "details": "Application with ID 'abc123' not found"
      }
    }
    ```

  version: alpha
  contact:
    name: AnswerLayer API Support
    email: josh@getanswerlayer.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://developers.getanswerlayer.com/v1
    description: Production server

security:
  - ApiKeyAuth: []

paths:
  # Admin Endpoints - Application Management
  /admin/applications:
    post:
      summary: Create new application
      description: Create a new application that can access your AnswerLayer analytics
      operationId: createApplication
      tags:
        - Admin - Application Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationRequest'
            examples:
              basic_application:
                summary: Basic application creation
                value:
                  name: "Customer Analytics Dashboard"
                  description: "Analytics dashboard for customer insights"
                  domain: "dashboard.acme.com"
                  settings:
                    max_users: 100
                    features: ["analytics", "reporting", "charts"]
      responses:
        '201':
          description: Application created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
    
    get:
      summary: List all applications
      description: Retrieve a paginated list of all applications in your organization
      operationId: listApplications
      tags:
        - Admin - Application Management
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: search
          in: query
          description: Search applications by name or domain
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of applications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  
  /admin/applications/{application_id}:
    get:
      summary: Get application details
      description: Retrieve detailed information about a specific application
      operationId: getApplication
      tags:
        - Admin - Application Management
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier for the application
          schema:
            type: string
      responses:
        '200':
          description: Application details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    
    put:
      summary: Update application
      description: Update an existing application's information
      operationId: updateApplication
      tags:
        - Admin - Application Management
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier for the application
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApplicationRequest'
      responses:
        '200':
          description: Application updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    
    delete:
      summary: Delete application
      description: Delete an application and all associated data
      operationId: deleteApplication
      tags:
        - Admin - Application Management
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier for the application
          schema:
            type: string
      responses:
        '204':
          description: Application deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # Admin Endpoints - Database Connection Management
  /admin/connections:
    post:
      summary: Create database connection
      description: Create a new database connection for your organization
      operationId: createConnection
      tags:
        - Admin - Database Connections
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectionRequest'
            examples:
              postgres_connection:
                summary: PostgreSQL connection
                value:
                  name: "Production Database"
                  type: "postgresql"
                  config:
                    host: "db.company.com"
                    port: 5432
                    database: "analytics"
                    username: "readonly_user"
                    password: "secure_password"
              snowflake_connection:
                summary: Snowflake connection
                value:
                  name: "Data Warehouse"
                  type: "snowflake"
                  config:
                    account: "company.snowflakecomputing.com"
                    warehouse: "ANALYTICS_WH"
                    database: "ANALYTICS_DB"
                    username: "analytics_user"
                    password: "secure_password"
      responses:
        '201':
          description: Connection created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    get:
      summary: List database connections
      description: Retrieve all database connections for your organization
      operationId: listConnections
      tags:
        - Admin - Database Connections
      responses:
        '200':
          description: List of connections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionList'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /admin/connections/{connection_id}:
    get:
      summary: Get connection details
      description: Retrieve detailed information about a database connection
      operationId: getConnection
      tags:
        - Admin - Database Connections
      parameters:
        - name: connection_id
          in: path
          required: true
          description: Unique identifier for the connection
          schema:
            type: string
      responses:
        '200':
          description: Connection details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # Admin Endpoints - User Management
  /admin/applications/{application_id}/users:
    post:
      summary: Create application user
      description: Create a new user for a specific application
      operationId: createApplicationUser
      tags:
        - Admin - User Management
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier for the application
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationUserRequest'
      responses:
        '201':
          description: Application user created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    
    get:
      summary: List application users
      description: Retrieve all users for a specific application
      operationId: listApplicationUsers
      tags:
        - Admin - User Management
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier for the application
          schema:
            type: string
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of application users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationUserList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/applications/{application_id}/users/{user_id}:
    get:
      summary: Get application user details
      description: Retrieve detailed information about a specific application user
      operationId: getApplicationUser
      tags:
        - Admin - User Management
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier for the application
          schema:
            type: string
        - name: user_id
          in: path
          required: true
          description: Unique identifier for the user
          schema:
            type: string
      responses:
        '200':
          description: Application user details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    
    put:
      summary: Update application user
      description: Update an existing application user's information
      operationId: updateApplicationUser
      tags:
        - Admin - User Management
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier for the application
          schema:
            type: string
        - name: user_id
          in: path
          required: true
          description: Unique identifier for the user
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApplicationUserRequest'
      responses:
        '200':
          description: Application user updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    
    delete:
      summary: Delete application user
      description: Delete an application user and all associated data
      operationId: deleteApplicationUser
      tags:
        - Admin - User Management
      parameters:
        - name: application_id
          in: path
          required: true
          description: Unique identifier for the application
          schema:
            type: string
        - name: user_id
          in: path
          required: true
          description: Unique identifier for the user
          schema:
            type: string
      responses:
        '204':
          description: Application user deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # Question & Answer Endpoints
  /questions:
    post:
      summary: Ask question
      description: Submit a natural language question to be answered by AnswerLayer
      operationId: askQuestion
      tags:
        - Questions & Answers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AskQuestionRequest'
            examples:
              new_question:
                summary: Start new conversation
                value:
                  question: "What were our top 5 products by revenue last quarter?"
                  application_id: "app_123"
                  user_id: "user_456"
                  context:
                    timezone: "America/New_York"
                    preferences:
                      chart_type: "auto"
                      format: "detailed"
              follow_up:
                summary: Follow-up question
                value:
                  question: "Show me the monthly breakdown for those products"
                  application_id: "app_123"
                  user_id: "user_456"
                  chain_id: "chain_789"
                  context:
                    timezone: "America/New_York"
      responses:
        '201':
          description: Question processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Answer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /questions/{question_id}/chart:
    post:
      summary: Request chart
      description: Generate a chart visualization for a specific answer
      operationId: requestChart
      tags:
        - Questions & Answers
      parameters:
        - name: question_id
          in: path
          required: true
          description: Unique identifier for the question/answer
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestChartRequest'
      responses:
        '200':
          description: Chart generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chart'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /questions/{question_id}/suggestions:
    get:
      summary: Get follow-up suggestions
      description: Retrieve suggested follow-up questions for a given answer
      operationId: getFollowUpSuggestions
      tags:
        - Questions & Answers
      parameters:
        - name: question_id
          in: path
          required: true
          description: Unique identifier for the question/answer
          schema:
            type: string
        - name: limit
          in: query
          description: Number of suggestions to return
          required: false
          schema:
            type: integer
            default: 5
            minimum: 1
            maximum: 10
      responses:
        '200':
          description: Follow-up suggestions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowUpSuggestions'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # Chain Management
  /chains:
    get:
      summary: List chains for application user
      description: Retrieve a list of conversation chains for a specific application user
      operationId: listChains
      tags:
        - Chain Management
      parameters:
        - name: application_id
          in: query
          required: true
          description: Unique identifier for the application
          schema:
            type: string
        - name: user_id
          in: query
          required: true
          description: Unique identifier for the user
          schema:
            type: string
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of chains
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /chains/{chain_id}:
    get:
      summary: Get chain details
      description: Retrieve detailed information about a specific chain
      operationId: getChain
      tags:
        - Chain Management
      parameters:
        - name: chain_id
          in: path
          required: true
          description: Unique identifier for the chain
          schema:
            type: string
      responses:
        '200':
          description: Chain details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chain'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /chains/{chain_id}/answers:
    get:
      summary: List answers for chain
      description: Retrieve all answers in a specific chain
      operationId: listAnswersForChain
      tags:
        - Chain Management
      parameters:
        - name: chain_id
          in: path
          required: true
          description: Unique identifier for the chain
          schema:
            type: string
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of answers in the chain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: API key authentication. Include your API key in the Authorization header as a Bearer token.

  schemas:
    # Application Management Schemas
    CreateApplicationRequest:
      type: object
      required:
        - name
        - domain
      properties:
        name:
          type: string
          description: Display name for the application
          example: "Customer Analytics Dashboard"
        description:
          type: string
          description: Optional description of the application
          example: "Analytics dashboard for customer insights"
        domain:
          type: string
          description: Primary domain for the application
          example: "dashboard.acme.com"
        settings:
          type: object
          description: Application-specific configuration settings
          properties:
            max_users:
              type: integer
              description: Maximum number of users allowed
              example: 100
            features:
              type: array
              items:
                type: string
              description: List of enabled features
              example: ["analytics", "reporting", "charts"]
            data_retention_days:
              type: integer
              description: Number of days to retain data
              example: 365

    UpdateApplicationRequest:
      type: object
      properties:
        name:
          type: string
          description: Display name for the application
        description:
          type: string
          description: Optional description of the application
        settings:
          type: object
          description: Application-specific configuration settings

    Application:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the application
          example: "app_123"
        name:
          type: string
          description: Display name for the application
          example: "Customer Analytics Dashboard"
        description:
          type: string
          description: Optional description of the application
          example: "Analytics dashboard for customer insights"
        domain:
          type: string
          description: Primary domain for the application
          example: "dashboard.acme.com"
        settings:
          type: object
          description: Application-specific configuration settings
        created_at:
          type: string
          format: date-time
          description: When the application was created
        updated_at:
          type: string
          format: date-time
          description: When the application was last updated
        user_count:
          type: integer
          description: Current number of users
          example: 25

    ApplicationList:
      type: object
      properties:
        applications:
          type: array
          items:
            $ref: '#/components/schemas/Application'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # Database Connection Schemas
    CreateConnectionRequest:
      type: object
      required:
        - name
        - type
        - config
      properties:
        name:
          type: string
          description: Display name for the connection
          example: "Production Database"
        type:
          type: string
          enum: ["postgresql", "mysql", "snowflake", "bigquery", "redshift"]
          description: Type of database
          example: "postgresql"
        config:
          type: object
          description: Connection configuration (varies by database type)
          example:
            host: "db.company.com"
            port: 5432
            database: "analytics"
            username: "readonly_user"
            password: "secure_password"

    Connection:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the connection
          example: "conn_123"
        name:
          type: string
          description: Display name for the connection
          example: "Production Database"
        type:
          type: string
          description: Type of database
          example: "postgresql"
        status:
          type: string
          enum: ["active", "inactive", "error"]
          description: Connection status
          example: "active"
        created_at:
          type: string
          format: date-time
          description: When the connection was created
        updated_at:
          type: string
          format: date-time
          description: When the connection was last updated

    ConnectionList:
      type: object
      properties:
        connections:
          type: array
          items:
            $ref: '#/components/schemas/Connection'

    # User Management Schemas
    CreateApplicationUserRequest:
      type: object
      required:
        - email
        - name
      properties:
        email:
          type: string
          format: email
          description: Email address for the user
          example: "john.doe@acme.com"
        name:
          type: string
          description: Full name of the user
          example: "John Doe"
        metadata:
          type: object
          description: Additional user metadata
          properties:
            department:
              type: string
              example: "Finance"
            title:
              type: string
              example: "Senior Analyst"

    UpdateApplicationUserRequest:
      type: object
      properties:
        name:
          type: string
          description: Full name of the user
        metadata:
          type: object
          description: Additional user metadata

    ApplicationUser:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the user
          example: "user_456"
        application_id:
          type: string
          description: ID of the application this user belongs to
          example: "app_123"
        email:
          type: string
          format: email
          description: Email address for the user
          example: "john.doe@acme.com"
        name:
          type: string
          description: Full name of the user
          example: "John Doe"
        metadata:
          type: object
          description: Additional user metadata
        created_at:
          type: string
          format: date-time
          description: When the user was created
        updated_at:
          type: string
          format: date-time
          description: When the user was last updated
        last_active:
          type: string
          format: date-time
          description: When the user was last active

    ApplicationUserList:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationUser'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # Question & Answer Schemas
    AskQuestionRequest:
      type: object
      required:
        - question
        - application_id
        - user_id
      properties:
        question:
          type: string
          description: Natural language question to ask
          example: "What were our top 5 products by revenue last quarter?"
        application_id:
          type: string
          description: ID of the application asking the question
          example: "app_123"
        user_id:
          type: string
          description: ID of the user asking the question
          example: "user_456"
        chain_id:
          type: string
          description: Optional chain ID for follow-up questions
          example: "chain_789"
        context:
          type: object
          description: Additional context for the question
          properties:
            timezone:
              type: string
              description: User's timezone
              example: "America/New_York"
            preferences:
              type: object
              description: User preferences
              properties:
                chart_type:
                  type: string
                  description: Preferred chart type
                  example: "auto"
                format:
                  type: string
                  description: Response format preference
                  example: "detailed"

    Answer:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the answer
          example: "answer_abc123"
        question_id:
          type: string
          description: ID of the original question
          example: "question_def456"
        chain_id:
          type: string
          description: ID of the conversation chain
          example: "chain_789"
        question:
          type: string
          description: The original question
          example: "What were our top 5 products by revenue last quarter?"
        answer:
          type: string
          description: Natural language answer
          example: "Based on your Q3 2024 data, here are the top 5 products by revenue..."
        sql_query:
          type: string
          description: SQL query that was executed
          example: "SELECT product_name, SUM(revenue) as total_revenue FROM sales WHERE quarter = 'Q3' AND year = 2024 GROUP BY product_name ORDER BY total_revenue DESC LIMIT 5"
        data:
          type: object
          description: Raw data results
          properties:
            columns:
              type: array
              items:
                type: string
              example: ["product_name", "total_revenue"]
            rows:
              type: array
              items:
                type: array
              example: [["Widget A", 125000], ["Widget B", 98000], ["Widget C", 87000]]
        metadata:
          type: object
          description: Additional metadata about the answer
          properties:
            execution_time:
              type: number
              description: Query execution time in seconds
              example: 0.245
            row_count:
              type: integer
              description: Number of rows returned
              example: 5
        created_at:
          type: string
          format: date-time
          description: When the answer was created
        application_id:
          type: string
          description: ID of the application
          example: "app_123"
        user_id:
          type: string
          description: ID of the user who asked the question
          example: "user_456"

    RequestChartRequest:
      type: object
      required:
        - chart_type
      properties:
        chart_type:
          type: string
          enum: ["bar", "line", "pie", "scatter", "bubble", "auto"]
          description: Type of chart to generate
          example: "bar"
        title:
          type: string
          description: Optional title for the chart
          example: "Top Products by Revenue"
        options:
          type: object
          description: Chart-specific options
          properties:
            color_scheme:
              type: string
              description: Color scheme for the chart
              example: "default"
            show_legend:
              type: boolean
              description: Whether to show legend
              example: true

    Chart:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the chart
          example: "chart_xyz789"
        answer_id:
          type: string
          description: ID of the associated answer
          example: "answer_abc123"
        chart_type:
          type: string
          description: Type of chart
          example: "bar"
        title:
          type: string
          description: Chart title
          example: "Top Products by Revenue"
        config:
          type: object
          description: Chart configuration
          properties:
            data:
              type: object
              description: Chart data configuration
            options:
              type: object
              description: Chart display options
        created_at:
          type: string
          format: date-time
          description: When the chart was created

    FollowUpSuggestions:
      type: object
      properties:
        suggestions:
          type: array
          items:
            type: object
            properties:
              question:
                type: string
                description: Suggested follow-up question
                example: "Show me the monthly breakdown for these products"
              confidence:
                type: number
                description: Confidence score for the suggestion
                example: 0.85
              category:
                type: string
                description: Category of the suggestion
                example: "drill_down"

    # Chain Management Schemas
    Chain:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the chain
          example: "chain_789"
        application_id:
          type: string
          description: ID of the application
          example: "app_123"
        user_id:
          type: string
          description: ID of the user who started the chain
          example: "user_456"
        title:
          type: string
          description: Title of the conversation chain
          example: "Q3 Revenue Analysis"
        answer_count:
          type: integer
          description: Number of answers in the chain
          example: 5
        created_at:
          type: string
          format: date-time
          description: When the chain was created
        updated_at:
          type: string
          format: date-time
          description: When the chain was last updated

    ChainList:
      type: object
      properties:
        chains:
          type: array
          items:
            $ref: '#/components/schemas/Chain'
        pagination:
          $ref: '#/components/schemas/Pagination'

    AnswerList:
      type: object
      properties:
        answers:
          type: array
          items:
            $ref: '#/components/schemas/Answer'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # Common Schemas
    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: Current page number
          example: 1
        limit:
          type: integer
          description: Number of items per page
          example: 20
        total:
          type: integer
          description: Total number of items
          example: 150
        total_pages:
          type: integer
          description: Total number of pages
          example: 8
        has_next:
          type: boolean
          description: Whether there are more pages
          example: true
        has_previous:
          type: boolean
          description: Whether there are previous pages
          example: false

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code
              example: "VALIDATION_ERROR"
            message:
              type: string
              description: Human-readable error message
              example: "Invalid application_id provided"
            details:
              type: string
              description: Additional error details
              example: "Application with ID 'abc123' not found"
            request_id:
              type: string
              description: Unique request identifier for debugging
              example: "req_123456789"

  responses:
    BadRequest:
      description: Bad request - Invalid input parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "VALIDATION_ERROR"
              message: "Invalid input parameters"
              details: "The 'application_id' field is required"

    Unauthorized:
      description: Unauthorized - Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "UNAUTHORIZED"
              message: "Invalid API key"
              details: "Please provide a valid API key in the Authorization header"

    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "FORBIDDEN"
              message: "Insufficient permissions"
              details: "You don't have permission to access this resource"

    NotFound:
      description: Not found - Resource doesn't exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "NOT_FOUND"
              message: "Resource not found"
              details: "The requested resource could not be found"

    Conflict:
      description: Conflict - Resource already exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "CONFLICT"
              message: "Resource already exists"
              details: "An application with this domain already exists"

    RateLimitExceeded:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "RATE_LIMIT_EXCEEDED"
              message: "Rate limit exceeded"
              details: "You have exceeded the rate limit. Please try again later"

tags:
  - name: Admin - Application Management
    description: Operations for managing applications
  - name: Admin - Database Connections
    description: Operations for managing database connections
  - name: Admin - User Management
    description: Operations for managing application users
  - name: Questions & Answers
    description: Natural language question processing and answer generation
  - name: Chain Management
    description: Operations for managing conversation chains 